/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*
 * Location bar
 */

#urlbar-progress-alt
{
	margin: -1px;
}

#notification-popup-box
{
	-moz-margin-start: -1px;
}

#urlbar .urlbar-over-link-box
{
	margin-top: -1px;
	margin-bottom: -1px;
}
